In [74]:
import random
import numpy as np 
from io import StringIO
import pandas as pd
from pandas import DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [75]:
# Count
mixed_count = pd.read_csv('/Users/nicenoize/Documents/Bachelorarbeit/mimic-iii-clinical-database-1.4/COUNT_PATIENTS/mixed_count.csv')
male_count = pd.read_csv('/Users/nicenoize/Documents/Bachelorarbeit/mimic-iii-clinical-database-1.4/COUNT_PATIENTS/male_count.csv')
female_count = pd.read_csv('/Users/nicenoize/Documents/Bachelorarbeit/mimic-iii-clinical-database-1.4/COUNT_PATIENTS/female_count.csv')

In [94]:
mixed_count.shape

(10000, 907)

In [95]:
male_count.shape

(10000, 849)

In [96]:
female_count.shape

(10000, 858)

In [97]:
# Generate 10 random numbers to select patients
randomlist = []
for i in range(0,5):
    n = random.randint(1,10000)
    randomlist.append(n)
print(randomlist)

[2528, 4321, 9101, 6702, 3416]

In [77]:
mixed_patients = []
female_patients = []
male_patients = []

In [89]:
mixed_count.loc[mixed_count['D_138'] != 0]

,Unnamed: 0,D_67,D_69,D_950,D_48,D_962,D_01,D_140,D_11,D_24,...,D_091,D_827,D_193,D_248,D_631,D_495,D_342,D_343,D_915,D_903
2688,2688,0.0,2.0,1.0,1.0,0.0,2.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3297,3297,0.0,1.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8681,8681,1.0,2.0,2.0,5.0,0.0,5.0,4.0,5.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
mixed_count.loc[mixed_count['D_075'] != 0]

,Unnamed: 0,D_67,D_69,D_950,D_48,D_962,D_01,D_140,D_11,D_24,...,D_091,D_827,D_193,D_248,D_631,D_495,D_342,D_343,D_915,D_903
25,25,1.0,1.0,1.0,1.0,1.0,4.0,4.0,5.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1325,1325,1.0,2.0,1.0,1.0,0.0,4.0,3.0,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2748,2748,0.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3289,3289,2.0,4.0,4.0,2.0,1.0,1.0,2.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6568,6568,1.0,2.0,3.0,4.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7440,7440,0.0,0.0,1.0,3.0,1.0,4.0,0.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8252,8252,2.0,0.0,1.0,1.0,1.0,3.0,5.0,4.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
mixed_count.loc[mixed_count['D_138'] != 0]

In [92]:
mixed_count.loc[mixed_count['D_515'] != 0]

Empty DataFrame
Columns: [Unnamed: 0, D_67, D_69, D_950, D_48, D_962, D_01, D_140, D_11, D_24, D_458, D_72, D_000, D_89, D_25, D_803, D_457, D_158, D_104, D_308, D_500, D_107, D_501, D_960, D_27, D_28, D_273, D_1, D_93, D_300, D_70, D_29, D_05, D_9, D_26, D_002, D_17, D_967, D_16, D_45, D_019, D_8, D_625, D_933, D_37, D_19, D_53, D_805, D_780, D_38, D_92, D_939, D_97, D_879, D_278, D_282, D_586, D_44, D_65, D_96, D_87, D_159, D_105, D_983, D_981, D_151, D_532, D_18, D_973, D_355, D_85, D_088, D_959, D_84, D_98, D_60, D_08, D_870, D_6, D_74, D_76, D_651, D_91, D_13, D_824, D_07, D_070, D_12, D_828, D_882, D_100, D_09, D_71, D_86, D_562, D_188, D_958, D_73, D_381, D_99, ...]
Index: []

[0 rows x 907 columns]

In [78]:
for x in randomlist:
 mixed_patient = mixed_count.loc[x].to_dict()
 female_patient = female_count.loc[x].to_dict()
 male_patient = female_count.loc[x].to_dict()
 mixed_patients.append({k: v for k, v in mixed_patient.items() if v != 0.0})
 female_patients.append({k: v for k, v in female_patient.items() if v != 0.0})  
 male_patients.append({k: v for k, v in male_patient.items() if v != 0.0})

In [79]:
print(mixed_patients)

[{'Unnamed: 0': 8880.0, 'D_05': 2.0, 'D_651': 1.0}, {'Unnamed: 0': 682.0, 'D_72': 1.0, 'D_29': 1.0, 'D_532': 1.0, 'D_82': 1.0, 'D_50': 1.0}, {'Unnamed: 0': 8563.0, 'D_050': 2.0, 'D_012': 2.0}, {'Unnamed: 0': 4039.0, 'D_650': 1.0}, {'Unnamed: 0': 6428.0, 'D_67': 1.0, 'D_01': 1.0, 'D_140': 3.0, 'D_11': 2.0, 'D_24': 2.0, 'D_458': 1.0, 'D_72': 3.0, 'D_457': 1.0, 'D_158': 4.0, 'D_308': 1.0, 'D_500': 2.0, 'D_107': 1.0, 'D_27': 1.0, 'D_28': 3.0, 'D_273': 3.0, 'D_1': 1.0, 'D_93': 1.0, 'D_70': 2.0, 'D_9': 1.0, 'D_16': 3.0, 'D_8': 3.0, 'D_805': 2.0, 'D_780': 1.0, 'D_38': 1.0, 'D_97': 3.0, 'D_586': 2.0, 'D_44': 1.0, 'D_96': 1.0, 'D_159': 1.0, 'D_18': 1.0, 'D_85': 4.0, 'D_959': 1.0, 'D_84': 2.0, 'D_74': 1.0, 'D_76': 4.0, 'D_882': 1.0, 'D_09': 2.0, 'D_188': 2.0, 'D_99': 1.0, 'D_855': 1.0, 'D_63': 2.0, 'D_80': 3.0, 'D_039': 4.0, 'D_878': 1.0, 'D_57': 2.0, 'D_506': 1.0, 'D_90': 2.0, 'D_411': 1.0, 'D_852': 3.0, 'D_14': 2.0, 'D_989': 1.0, 'D_387': 1.0, 'D_283': 1.0, 'D_451': 1.0, 'D_498': 1.0, 'D_838': 1.0, 'D_64': 1.0, 'D_990': 1.0, 'D_410': 2.0, 'D_505': 1.0, 'D_504': 2.0, 'D_284': 1.0, 'D_15': 1.0, 'D_957': 1.0}]

In [80]:
print(female_patients)

[{'Unnamed: 0': 8880.0, 'D_300': 1.0, 'D_29': 1.0}, {'Unnamed: 0': 682.0}, {'Unnamed: 0': 8563.0, 'D_01': 2.0, 'D_97': 2.0, 'D_273': 4.0, 'D_140': 1.0, 'D_44': 3.0, 'D_500': 1.0, 'D_74': 2.0, 'D_76': 1.0, 'D_99': 2.0, 'D_28': 1.0, 'D_24': 1.0, 'D_72': 4.0, 'D_84': 2.0, 'D_82': 1.0, 'D_85': 3.0, 'D_450': 1.0, 'D_039': 1.0, 'D_158': 1.0, 'D_18': 1.0, 'D_308': 1.0, 'D_38': 1.0, 'D_78': 1.0, 'D_586': 3.0, 'D_125': 1.0, 'D_878': 3.0, 'D_070': 1.0, 'D_849': 1.0}, {'Unnamed: 0': 4039.0}, {'Unnamed: 0': 6428.0, 'D_01': 1.0, 'D_76': 1.0, 'D_939': 2.0, 'D_38': 1.0}]

In [81]:
print(male_patients)

[{'Unnamed: 0': 8880.0, 'D_300': 1.0, 'D_29': 1.0}, {'Unnamed: 0': 682.0}, {'Unnamed: 0': 8563.0, 'D_01': 2.0, 'D_97': 2.0, 'D_273': 4.0, 'D_140': 1.0, 'D_44': 3.0, 'D_500': 1.0, 'D_74': 2.0, 'D_76': 1.0, 'D_99': 2.0, 'D_28': 1.0, 'D_24': 1.0, 'D_72': 4.0, 'D_84': 2.0, 'D_82': 1.0, 'D_85': 3.0, 'D_450': 1.0, 'D_039': 1.0, 'D_158': 1.0, 'D_18': 1.0, 'D_308': 1.0, 'D_38': 1.0, 'D_78': 1.0, 'D_586': 3.0, 'D_125': 1.0, 'D_878': 3.0, 'D_070': 1.0, 'D_849': 1.0}, {'Unnamed: 0': 4039.0}, {'Unnamed: 0': 6428.0, 'D_01': 1.0, 'D_76': 1.0, 'D_939': 2.0, 'D_38': 1.0}]

In [59]:
{k: v for k, v in my_dict.items() if v != 0.0}

{'Unnamed: 0': 11.0, 'D_300': 1.0}

In [45]:
y = mixed_count.loc[11].as_matrix().reshape(1, len(mixed_count.loc[11]))
print(y)

[[11.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  0.  0.  0.]]

/Users/nicenoize/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [ ]:
test = (mixed_count.loc[10])
test = test.dropna(axis=0)
test = test.loc[~(test==0).all(axis=0)]
print(test)

In [25]:
mixed_patients = []
female_patients = []
male_patients = []

In [28]:
for x in randomlist:
    mixed_patients.append(mixed_count.loc[i].dropna(axis=0))
    female_patients.append(female_count.loc[i].dropna(axis=0))
    male_patients.append(male_count.loc[i].dropna(axis=0))

In [29]:
print(mixed_patients[1])

Unnamed: 0    9.0
D_67          0.0
D_69          0.0
D_950         0.0
D_48          0.0
             ...
D_495         0.0
D_342         0.0
D_343         0.0
D_915         0.0
D_903         0.0
Name: 9, Length: 907, dtype: float64